body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    background-image: url("abstract-blue-wave-vector-background-01h98868zrnbya8n3gk1czqqsv_preview.jpg");
    background-size: cover;
}

header h1 {
    color: #066138;
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    color: #666;
    font-size: 16px;
}

.team {
    margin-top: 30px;
}

.team h2 {
    text-align: center;
    font-size: 28px;
    color: #0e5c45;
    margin-bottom: 20px;
}

.team-section {
    margin-bottom: 40px;
}

.team-section h3 {
    font-size: 24px;
    color: #0e5c45;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    text-align: center;
    width: 150px;
    margin: 10px;
}

.team-member img {
    border-radius: 50%;
    border: 3px solid #0e5c45;
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s;
}

.team-member img:hover {
    transform: scale(1.1);
}

.team-member p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #666;
}

.team-member p strong {
    display: block;
    color: #333;
    margin-bottom: 5px;
}
